/* All Page */
*{
    margin: 0px;
    font-family: 'Work Sans';
}
/* Header Section */
header{
    background-image: url(../images/banner/banner2.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-container{
    text-align: end;
    padding-top: 170px;
    padding-left: 650px;
    padding-right: 150px;
}
.head-title{
    font-weight: 700;
    font-size: 60px;
    color: #151414;
    line-height: 70px;
    padding-bottom: 20px;
}
.header-container p{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    padding-bottom: 25px;
}
/* Button */
.orange-btn{
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    font-weight: 550;
    font-size: 18px;
    color: #FFFFFF;
}
/* Main part of website */
.my-failures{
    display: flex;
    align-items: center;
    padding: 120px 200px 0px 170px;
}
.my-failures img{
    height: 560px;
}
.mistake-sec{
    padding-left:50px ;
    padding-top: 100px;
}
.main-part-header{
    font-weight: 700;
    font-size: 35px;
    color: #151414;
    line-height: 40px;
    padding-right: 20px;
}
.main-part-paragraph{
    padding-top: 20px ;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    color: #444343;
    line-height: 20px;
}
.list-of-failures{
    font-weight: 300;
    font-size: 14px;
   
}
.list-of-failures li{
    padding-bottom: 10px;
}

.my-plans-container{
    padding: 120px 200px;
    text-align: center;
    display: block;
}
.my-plans-container h3{
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    color: #151414;

}
.my-plans{
    display: flex;
    justify-content: space-between;
}
.my-plans img{
    height: 70px;
    padding-bottom: 30px;
}
.my-plans h4{
    font-weight: 800;
    font-size: 20px;
    color: #151414;
}
.my-plans p{
    padding-top: 15px;
    font-weight: 600;
    font-size: 18px;
    color: #737272;
}
/* Banner */
.banner{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    height: 220px;
    margin-left: 220px;
    margin-right: 220px;
    border: none;
    border-radius: 5px;
    text-align: left;
}
.banner-contante{
    padding: 50px 350px 20px 50px;
}
.banner-hrader{
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #FFFFFF;
}
.primary-btn{
    width: 100px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #F15B22;
    border: none;
    border-radius: 5px;
}
/* Footer */
footer{
    margin-top: 100px;
    height: 500px;
    background: #151414;
    color: #FFFFFF;
}
.footer-container{
    display: flex;
    padding-right: 250px;
}
.footer-future{
    margin-top: 150px;
    margin-left: 150px;
    padding-right: 250px;
}
.footer-header{
    font-weight: 600;
    font-size: 35px;
    color: #F8F8F8;
    padding-bottom: 20px;
}
.footer-paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.footer-num-email{
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
}
.social img{
    height: 40px;
    padding: 5px;
}
.con-from{
    margin-top: 150px;
}
.form-header{
    font-weight: 300;
    font-size: 35px;
}
input{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 220px;
    height: 42px;
    background: #151414;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
}