/* All Page */
*{
    margin: 0px;
    font-family: 'Work Sans';
}
/* Header Section */
header{
    background-image: url(../images/banner/banner2.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-container{
    text-align: end;
    padding-top: 170px;
    padding-left: 650px;
    padding-right: 150px;
}
.head-title{
    font-weight: 700;
    font-size: 60px;
    color: #151414;
    line-height: 70px;
    padding-bottom: 20px;
}
.header-container p{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    padding-bottom: 25px;
}
/* Button */
.orange-btn{
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    font-weight: 550;
    font-size: 18px;
    color: #FFFFFF;
}
/* Main part of website */
.my-failures{
    display: flex;
    align-items: center;
    padding: 120px 200px 0px 170px;
}
.my-failures img{
    height: 560px;
}
.mistake-sec{
    padding-left:50px ;
    padding-top: 100px;
}
.main-part-header{
    font-weight: 700;
    font-size: 35px;
    color: #151414;
    line-height: 40px;
    padding-right: 20px;
}
.main-part-paragraph{
    padding-top: 20px ;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    color: #444343;
    line-height: 20px;
}
.list-of-failures{
    font-weight: 300;
    font-size: 14px;
   
}
.list-of-failures li{
    padding-bottom: 10px;
}

.my-plans-container{
    padding: 120px 200px;
    text-align: center;
    display: block;
}
.my-plans-container h3{
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    color: #151414;

}
.my-plans{
    display: flex;
    justify-content: space-between;
}
.my-plans img{
    height: 70px;
    padding-bottom: 30px;
}
.my-plans h4{
    font-weight: 800;
    font-size: 20px;
    color: #151414;
}
.my-plans p{
    padding-top: 15px;
    font-weight: 600;
    font-size: 18px;
    color: #737272;
}